<a href="https://colab.research.google.com/github/Riab22209/CE880-Lab-Task-repository/blob/main/mocktest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget https://essexuniversity.box.com/shared/static/c3vee0c2iclzc9wouhblr9jp5v7lix0o.db -O weather.db &> /dev/null
!sudo sudo add-apt-repository -y ppa:linuxgndu/sqlitebrowser >/dev/null
!sudo apt update > /dev/null
!sudo apt-get install -y sqlite3 >/dev/null
!pip install sqlalchemy==1.4.47
!sqlite3 --version
import os
os._exit(00)

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 3.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sqlalchemy==1.4.47
  Downloading SQLAlchemy-1.4.47-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 21.0 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy==1.4.47) (2.0.2)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.10
    Uninstalling SQLAlchemy-2.0.10:
      Successfully uninstalled SQLAlchemy-2.0.10
Successfully installed sqlalchemy-1.4.47
3.41.2 2023-03-17 14:22:45 78836713c965066cb9c1cc732a9cecb1d74a25f37775a01c088393881e4falt1

In [1]:
# now we can use the magic extension to connect to our SQLite DB
# use %sql to write an inline SQL command
%load_ext sql

# use %%sql to write SQL commands in a cell
# Loads the downloaded database (weather data) inthis case
%sql sqlite:///weather.db 

# Shows the sqlite version
%sql SELECT sqlite_version();

 * sqlite:///weather.db
Done.

[('3.41.2',)]

In [2]:
%%sql
create table Electricity (
  cid INT Primary Key,
  cname varchar(40),
  consumption INT,
  price REAL
)

 * sqlite:///weather.db
Done.

[]

In [3]:
%%sql

INSERT INTO Electricity VALUES 

(1001, 'C1', 340, 16.0),
(1002, 'C2', 250, 18.0),
(1003, 'C3', 190, 20.0),
(1004, 'C4', 380, 24.0),
(1005, 'C5', 310, 26.0);

 * sqlite:///weather.db
5 rows affected.

[]

In [20]:
%%sql
SELECT * from Electricity
where consumption <380 and consumption >=190;

 * sqlite:///weather.db
Done.

[(1001, 'C1', 340, 16.0, 54.4),
 (1002, 'C2', 250, 18.0, 45.0),
 (1003, 'C3', 190, 20.0, 38.0),
 (1005, 'C5', 310, 26.0, 80.6)]

In [7]:
%%sql
ALTER table Electricity add  bill float;

 * sqlite:///weather.db
Done.

[]

In [11]:
%%sql
UPDATE Electricity
SET bill = consumption * (price/100);

 * sqlite:///weather.db
5 rows affected.

[]

In [17]:
%%sql
update Electricity set BILL = 80.6 where cid='1005';

 * sqlite:///weather.db
1 rows affected.

[]

In [21]:
%%sql
select * from Electricity
where bill>40.0
order by consumption desc;

 * sqlite:///weather.db
Done.

[(1004, 'C4', 380, 24.0, 91.2),
 (1001, 'C1', 340, 16.0, 54.4),
 (1005, 'C5', 310, 26.0, 80.6),
 (1002, 'C2', 250, 18.0, 45.0)]

In [22]:
%%sql
CREATE TABLE Application(
  aid INT Primary Key,
  cid INT NOT NULL,
  income INT,
  FOREIGN KEY(cid) references Electricity(cid)
);

 * sqlite:///weather.db
Done.

[]

In [23]:
%%sql
insert into  Application values
(1,1001,1000),
(2,1004,3000),
(3,1005,1500);

 * sqlite:///weather.db
3 rows affected.

[]

In [25]:
%%sql
select e.cid,e.bill,0.05*a.income as fivepercentincome
from Electricity e,Application a
where e.cid=a.cid;

 * sqlite:///weather.db
Done.

[(1001, 54.4, 50.0), (1004, 91.2, 150.0), (1005, 80.6, 75.0)]

In [27]:
%%sql
alter table Application  add approvalORnot INT;

 * sqlite:///weather.db
Done.

[]

In [28]:
%%sql
Update Application as A
set approvalORnot = (
  SELECT IIF(E.bill>0.05*A.income,1,0)
  from Electricity as E
  where E.cid=A.cid
)

 * sqlite:///weather.db
3 rows affected.

[]